<div class="col-lg-10 offset-lg-1">
    <div >
        <h2>{{titulo}}</h2>

        <div *ngIf="!productos">
            <pre>Cargando listado de productos</pre>
        </div>
        <div *ngIf="productos">
            <div class="row">

                <div class="col-lg-4 " *ngFor="let prod of productos">

                    <div class="img-thumbnail">

                        <div *ngIf="prod.imagen" class="img-container">
                        <img src="http://localhost/curso-angular4-backend/uploads/{{prod.imagen}}" class="prod_imagen">
                        </div>    

                        <div *ngIf="!prod.imagen">                    
                            <div class="img-relleno">
                            </div>
                        </div>

                        <div class="caption">
                            <h3>{{prod.nombre}}</h3>
                            <p>${{prod.precio}}</p>
                            <div class="botonoer" *ngIf="confirm != prod.id">
                                <p>
                                    <button [routerLink]="['/producto', prod.id]" class="btn btn-sm btn-outline-info"> ver</button>
                                    <button [routerLink]="['/editar-producto', prod.id]" href="" class="btn btn-sm btn-outline-info"> editar</button>
                                    <button (click)="borrarConfirm(prod.id)" class="btn btn-sm btn-outline-danger"> borrar</button>
                                </p>
                            </div>

                            <div *ngIf="confirm == prod.id">
                                <pre>¿Esta seguro de eliminarlo?</pre>
                                <button class="btn btn-sm btn-danger" (click)="onDeleteProducto(prod.id)">Quiero eliminarlo</button>
                                <button class="btn btn-sm btn-info" (click)="cancelConfirm(prod.id)" style="margin-left: 5px;">Cancel</button>
                            </div>

                        </div>

                    </div>

                </div>

            </div>
        </div>

    </div>
</div>
