<div *ngIf="producto">
    <div class="row">
        <br>
        <div class="col-md-3" *ngIf="producto.imagen" >
            <img src="http://localhost/curso-angular4-backend/uploads/{{producto.imagen}}" class="img-prod">
        </div>

        <div class="col-md-9">

        <h3>{{producto.nombre}}</h3>
        <p>{{producto.descripcion}}</p>
        <strong><p>$ {{producto.precio}}</p></strong>
        
        </div>
    </div>
</div>

<div *ngIf="!producto">
<p>cargando producto...</p>
</div>