<div id="contenido" class="col-md-10 offset-1">

    <header id="header" class="col-lg-12" [style.background]="header_color">
        <h1>
            {{title}}
        </h1>
    </header>
        <nav id="nav" class="col-lg-12 navbar">
            <ul>
                <li>
                    <a [routerLink]="['/home']" [routerLinkActive]="['activado']">Home</a>                
                </li>
                <li>
                    <a [routerLink]="['/productos']" [routerLinkActive]="['activado']">Productos</a>                
                </li>
                <li>
                    <a [routerLink]="['/productos-add']" [routerLinkActive]="['activado']">Crear Productos</a>                
                </li>
            </ul>
        </nav>

        <section id="main" class="col-lg-12">
            <!--Componente actual-->
            <router-outlet></router-outlet>
        </section>
        <footer id="footer" class="col-lg-12">
            <pre>Curso de Angular 4</pre>
        </footer>

</div>